.cart {
    max-width: retr(580);
    margin: 0 auto;
    margin-top: retr(90);
    h1,
    p {
        -webkit-column-span: all; /* Chrome, Safari, Opera */
        column-span: all;
    }
}

.product-table {
}

.layout-inline > * {
    display: inline-block;
}

.align-center {
    text-align: center;
}

.th {
    border-bottom: 1px solid $black;
    text-transform: capitalize;

}
.col {
    padding: 1em;
    width: 12%;
}

.col-pro {
    width: 44%;
}

.col-pro > * {
    vertical-align: middle;
}

.col-qty {
    text-align: center;
    width: 17%;
}


.tf .col {
    width: 20%;
}

.row > div {
    vertical-align: middle;
}

.row-bg2 {
    background: $dark-grey;
}

.visibility-cart {
    position: absolute;
    color: #fff;
    top: 0.5em;
    right: 0.5em;
    font: bold 2em arial;
    border: 0.16em solid #fff;
    border-radius: 2.5em;
    padding: 0 0.22em 0 0.25em;
}

.col-qty > * {
    vertical-align: middle;
}

.col-qty > input {
    max-width: 2.6em;
}
