.header {
    padding: 0 retr(30);
    height: retr(120);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px $grey;
    &__logo {
        img {
            width: retr(120);
        }
    }
}
