body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-font;
  font-size: $base-font-size;
  color: $body-color;
  background: $bg-color;
}

.wrapper{
  
  max-width: 900px; 
  margin: 0 auto;
  margin-top: 5em;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $accent;
    cursor: pointer;
  }
}

a {
  padding: 5px;
  color: $orange;
}

table{
  max-width: 100%;
  margin: 0 auto;
}
th, td{
  border: 1px solid $body-color;
  width: 260px;
}